// Colores
$primary__main: #0b2343;
$secondary__main: #e91b2f;
$azulcontraste__main: #007dc3;
$azulcontraste__contrastText: #fff;
$success__main: #48a83e;
$success__contrastText: #fff;
$warning__main: #fd9900;
$warning__contrastText: #fff;
$AMBrandBlue__main: #0b2343;
$AMBrandBlue__contrastText: #fff;
$AMDarkGray__main: #666666;
$AMDarkGray__contrastText: #fff;
$AMLightBlue__main: #007cc2;
$AMLightBlue__contrastText: #fff;
$AMMedGray__main: #999999;
$AMMedGray__contrastText: #fff;
$AMUltraLightGray__main: #f6f6f6;
$AMUltraLightGray__contrastText: #666666;
$AMRed__main: #e91b2f;
$AMRed__dark: #d61527;
$AMRed__contrastText: #fff;
$AMWhite__main: #ffffff;
$AMWhite__contrastText: #000;
$AMUltraLightBlue__main: #ebf5fa;
$AMUltraLightBlue__contrastText: #000;
$AMSnowGray__main: #e5e5e5;
$AMSnowGray__contrastText: #000;
$AMDarkBlue__main: #002b5c;
$AMDarkBlue__contrastText: #fff;
$AMYellowAlert__main: #fecb2f;
$AMYellowAlert__contrastText: #000;
$AMRedAlert__main: #fdeff0;
$AMRedAlert__contrastText: #000;
$AMMedBlue__main: #004990;
$AMMedBlue__contrastText: #fff;
$AMGreen__main: #48a83e;
$AMGreen__contrastText: #fff;
$AMTeal__main: #1b8198;
$AMTeal__contrastText: #fff;
$AMPurple__main: #5f3fb1;
$AMPurple__contrastText: #fff;
$AMOrange__main: #f97722;
$AMOrange__contrastText: #fff;
$AMYellow__main: #fbaf28;
$AMYellow__contrastText: #000;
$AMBasicFare__main: #007cc2;
$AMBasicFare__contrastText: #fff;
$AMClassicFare__main: #3e6aab;
$AMClassicFare__contrastText: #fff;
$AMFlexibleFare__main: #355da1;
$AMFlexibleFare__contrastText: #fff;
$AMPlusFare__main: #284a8c;
$AMPlusFare__contrastText: #fff;
$AMConfortFare__main: #5a5095;
$AMConfortFare__contrastText: #fff;
$AMPremierFare__main: #53448f;
$AMPremierFare__contrastText: #fff;
$BGBasicFare__main: #ffffff;
$BGBasicFare__contrastText: #000;
$BGClassicFare__main: #f5fafd;
$BGClassicFare__contrastText: #000;
$BGConfortFare__main: #e7e2f3;
$BGConfortFare__contrastText: #000;
$BGPremierFare__main: #dfd9ef;
$BGPremierFare__contrastText: #000;
$BGFlexibleFare__main: #e6f2f9;
$BGFlexibleFare__contrastText: #000;
$BGPlusFare__main: #dfedf5;
$BGPlusFare__contrastText: #000;
$BasicSecondary__main: #f5faff;
$BasicSecondary__contrastText: #000;
$FlexSecondary__main: #e6f2f9;
$FlexSecondary__contrastText: rgba(0, 0, 0, 0.4);
$AMPlusSecondary__main: #dfedf5;
$AMPlusSecondary__contrastText: rgba(0, 0, 0, 0.4);
$ConfortSecondary__main: #5a5095;
$ConfortSecondary__contrastText: rgba(0, 0, 0, 0.4);
$PremierSecondary__main: #dfd9ef;
$PremierSecondary__contrastText: rgba(0, 0, 0, 0.4);
$BorderBasicFare__main: #e6f2f9;
$BorderBasicFare__contrastText: #000;
$BorderClassicFare__main: #dcedf7;
$BorderClassicFare__contrastText: #000;
$BorderFlexibleFare__main: #cfe1ef;
$BorderFlexibleFare__contrastText: #000;
$BorderPlusFare__main: #c4dcee;
$BorderPlusFare__contrastText: #000;
$BorderConfortFare__main: #d9d3ea;
$BorderConfortFare__contrastText: #000;
$BorderPremierFare__main: #d1cae5;
$BorderPremierFare__contrastText: #000;

//Tamaños de pantalla
$DesktopLarge: 1280;
$Desktop: 1024;
$Tablet: 768;
$Mobile: 320;

:export {
  primary__main: $primary__main;
  secondary__main: $secondary__main;
  azulcontraste__main: $azulcontraste__main;
  azulcontraste__contrastText: $azulcontraste__contrastText;
  success__main: $success__main;
  success__contrastText: $success__contrastText;
  warning__main: $warning__main;
  warning__contrastText: $warning__contrastText;
  AMBrandBlue__main: $AMBrandBlue__main;
  AMBrandBlue__contrastText: $AMBrandBlue__contrastText;
  AMDarkGray__main: $AMDarkGray__main;
  AMDarkGray__contrastText: $AMDarkGray__contrastText;
  AMLightBlue__main: $AMLightBlue__main;
  AMLightBlue__contrastText: $AMLightBlue__contrastText;
  AMMedGray__main: $AMMedGray__main;
  AMMedGray__contrastText: $AMMedGray__contrastText;
  AMRed__main: $AMRed__main;
  AMRed__dark: $AMRed__dark;
  AMRed__contrastText: $AMRed__contrastText;
  AMWhite__main: $AMWhite__main;
  AMWhite__contrastText: $AMWhite__contrastText;
  AMUltraLightBlue__main: $AMUltraLightBlue__main;
  AMUltraLightBlue__contrastText: $AMUltraLightBlue__contrastText;
  AMSnowGray__main: $AMSnowGray__main;
  AMSnowGray__contrastText: $AMSnowGray__contrastText;
  AMUltraLightGray__main: $AMUltraLightGray__main;
  AMUltraLightGray__contrastText: $AMUltraLightGray__contrastText;
  AMDarkBlue__main: $AMDarkBlue__main;
  AMDarkBlue__contrastText: $AMDarkBlue__contrastText;
  AMYellowAlert__main: $AMYellowAlert__main;
  AMYellowAlert__contrastText: $AMYellowAlert__contrastText;
  AMRedAlert__main: $AMRedAlert__main;
  AMRedAlert__contrastText: $AMRedAlert__contrastText;
  AMMedBlue__main: $AMMedBlue__main;
  AMMedBlue__contrastText: $AMMedBlue__contrastText;
  AMGreen__main: $AMGreen__main;
  AMGreen__contrastText: $AMGreen__contrastText;
  AMTeal__main: $AMTeal__main;
  AMTeal__contrastText: $AMTeal__contrastText;
  AMPurple__main: $AMPurple__main;
  AMPurple__contrastText: $AMPurple__contrastText;
  AMOrange__main: $AMOrange__main;
  AMOrange__contrastText: $AMOrange__contrastText;
  AMYellow__main: $AMYellow__main;
  AMYellow__contrastText: $AMYellow__contrastText;
  AMBasicFare__main: $AMBasicFare__main;
  AMBasicFare__contrastText: $AMBasicFare__contrastText;
  AMClassicFare__main: $AMClassicFare__main;
  AMClassicFare__contrastText: $AMClassicFare__contrastText;
  AMFlexibleFare__main: $AMFlexibleFare__main;
  AMFlexibleFare__contrastText: $AMFlexibleFare__contrastText;
  AMPlusFare__main: $AMPlusFare__main;
  AMPlusFare__contrastText: $AMPlusFare__contrastText;
  AMConfortFare__main: $AMConfortFare__main;
  AMConfortFare__contrastText: $AMConfortFare__contrastText;
  AMPremierFare__main: $AMPremierFare__main;
  AMPremierFare__contrastText: $AMPremierFare__contrastText;
  BGBasicFare__main: $BGBasicFare__main;
  BGBasicFare__contrastText: $BGBasicFare__contrastText;
  BGClassicFare__main: $BGClassicFare__main;
  BGClassicFare__contrastText: $BGClassicFare__contrastText;
  BGConfortFare__main: $BGConfortFare__main;
  BGConfortFare__contrastText: $BGConfortFare__contrastText;
  BGPremierFare__main: $BGPremierFare__main;
  BGPremierFare__contrastText: $BGPremierFare__contrastText;
  BGFlexibleFare__main: $BGFlexibleFare__main;
  BGFlexibleFare__contrastText: $BGFlexibleFare__contrastText;
  BGPlusFare__main: $BGPlusFare__main;
  BGPlusFare__contrastText: $BGPlusFare__contrastText;
  BasicSecondary__main: $BasicSecondary__main;
  BasicSecondary__contrastText: $BasicSecondary__contrastText;
  FlexSecondary__main: $FlexSecondary__main;
  FlexSecondary__contrastText: $FlexSecondary__contrastText;
  AMPlusSecondary__main: $AMPlusSecondary__main;
  AMPlusSecondary__contrastText: $AMPlusSecondary__contrastText;
  ConfortSecondary__main: $ConfortSecondary__main;
  ConfortSecondary__contrastText: $ConfortSecondary__contrastText;
  PremierSecondary__main: $PremierSecondary__main;
  PremierSecondary__contrastText: $PremierSecondary__contrastText;
  BorderBasicFare__main: $BorderBasicFare__main;
  BorderBasicFare__contrastText: $BorderBasicFare__contrastText;
  BorderClassicFare__main: $BorderClassicFare__main;
  BorderClassicFare__contrastText: $BorderClassicFare__contrastText;
  BorderFlexibleFare__main: $BorderFlexibleFare__main;
  BorderFlexibleFare__contrastText: $BorderFlexibleFare__contrastText;
  BorderPlusFare__main: $BorderPlusFare__main;
  BorderPlusFare__contrastText: $BorderPlusFare__contrastText;
  BorderConfortFare__main: $BorderConfortFare__main;
  BorderConfortFare__contrastText: $BorderConfortFare__contrastText;
  BorderPremierFare__main: $BorderPremierFare__main;
  BorderPremierFare__contrastText: $BorderPremierFare__contrastText;
  DesktopLarge: $DesktopLarge;
  Desktop: $Desktop;
  Tablet: $Tablet;
  Mobile: $Mobile;
}
